[submodule "mods/torches"]
	path = mods/torches
	url = https://github.com/wischi-chr/torches
[submodule "mods/minetest-mod-mesecons"]
	path = mods/minetest-mod-mesecons
	url = https://github.com/wischi-chr/minetest-mod-mesecons
	branch = more-realistic
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/wischi-chr/moreblocks.git
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/calinou/moreores/
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	branch = 0815-pipes
	url=https://github.com/wischi-chr/pipeworks.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/wischi-chr/unified_inventory.git
[submodule "mods/xdecor"]
	path = mods/xdecor
	url = https://github.com/wischi-chr/xdecor.git
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/wischi-chr/technic
[submodule "mods/datastorage"]
	path = mods/datastorage
	url = https://github.com/wischi-chr/datastorage.git
[submodule "mods/sub0815-modpack"]
	path = mods/sub0815-modpack
	url = https://github.com/wischi-chr/sub0815-modpack.git
[submodule "mods/currency"]
	path = mods/currency
	url = https://github.com/wischi-chr/currency.git
[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/wischi-chr/areas.git
[submodule "mods/node_changed"]
	path = mods/node_changed
	url = https://github.com/wischi-chr/node_changed.git