[submodule "mods/torches"]
	path = mods/torches
	url = https://github.com/wischi-chr/torches
[submodule "mods/minetest-mod-mesecons"]
	path = mods/minetest-mod-mesecons
	url = https://github.com/wischi-chr/minetest-mod-mesecons
	branch = more-realistic
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/calinou/moreblocks/
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/calinou/moreores/
[submodule "mods/pipeworks"]
	path = mods/pipeworks
url=https://github.com/wischi-chr/pipeworks.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/wischi-chr/unified_inventory.git
[submodule "mods/xdecor"]
	path = mods/xdecor
	url = https://github.com/kilbith/xdecor.git
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/wischi-chr/technic